<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
      <div class="jumbotron">
         <h1>To do list</h1>
      </div>
    <div class="container">
    <p><a href="/categories">Click here</a> to see all of the categories and to add a category.</p>
    <p><a href="/tasks">Click here</a> to see all of the tasks and to add a task.</p>
    </div>
  </body>
</html>
