<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
      <link rel="stylesheet" href="/css/normalize.css">
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <div class="container">
    <h1>To Do List</h1>

    {% if tasks is not empty %} <!--if statement-->
        <p>Here are all your tasks: </p>
        <ul>
          {% for task in tasks %}<!--for loop-->
               <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a></li>
          {% endfor %}
        </ul>
    {% endif %}

    <form action='/tasks' method='post'>
        <label for='description'>Task Description</label>
        <input id='description' name='description' type='text'>

        <button type='submit'>Add task</button>
    </form>
    <form action='/delete_tasks' method='post'>
        <button type='submit'>Delete All</button>
    </form>
    </div>
  </body>
</html>
